@using HeroesArenaWebsite.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Heroes Arena</h1>
    <br /><br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/f3SydYb8GWI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br />
<br />

<section class="featured-section">
    <div class="image-warrior"></div>
    <div class="featured-box">
        <h2>The Warrior</h2>
        <p>Warrior character's skills are centered around strength and physical combat with a wide variety of melee weapons, and the ability to survive while tanking for the group, usually at the cost of agility or range. To aid in this, they can potentially use of some of the most powerful armor and weaponry in the game. </p>
    </div>
</section>
<br />
<br />

<section class="featured-section">
    <div class="image-mage"></div>
    <div class="featured-box-mage">
        <h2>The Mage</h2>
        <p>A Mage can quickly bestow a number of beneficial status effects on their allies and cripple their foes with ailments, turning the tide of battle. The Time Mage's only offensive spell is Meteor, which is devastating, but takes a long time to charge, and the Gravity spells, which can hurt enemies by a fourth of their HP or half of their HP, if they hit. </p>
    </div>
</section>
<br />
<br />

<section class="featured-section">
    <div class="image-archer"></div>
    <div class="featured-box">
        <h2>The Archer</h2>
        <p> Archers spend a great deal of time hunting, fishing, and camping—whether on a short- or long-term basis—and their preferred martial arts weapons leans towards practical-utility: archery, knife fighting, stick-fighting, axeplay, spearplay and swordplay.</p>
    </div>
</section>
<br />
<br />