@using HeroesArenaWebsite.Common
@{
    this.ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 >Heroes Arena</h1>
        <br/><br/>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/f3SydYb8GWI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
